@import "~bootstrap/dist/css/bootstrap.min.css";

/* ["♦", "♥", "♠", "♣"]; */

body {
  background-image: url("./img/bg_img_card_generator.jpg");
  background-position: center;
  background-size: 100%;
  background-color: #e7ffe8;
}

#card {
  border: 1px solid black;
  height: 400px;
  width: 300px;
  background: #ffffff;
  border-radius: 15px;
}

.card_num {
  font-size: 1.5rem;
}

#main_card_suit {
  font-size: 5rem;
}
